.hero-image {
    background:
        linear-gradient(#1A1919d0 25%, #19191900),
        url(../images/home/01.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
